@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap');
@import './css/converstion-form.css';
@import './css/challenge.css';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
}

.application-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 30px auto;
  max-width: 410px;
}

.application-container__item {
  display: flex;
  justify-content: center;
}

.red {
  border-color: red;
}